/* Common Shared Style */

body {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* White Color */
    color: #FFFFFF;
    padding: 16px 35px;
}

/* Navigation Bar Related Style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 220px;
}

.nav-title {
    font-size: 45px;
    line-height: 61px;
    /* Dark 01 */
    color: #181818;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 52px;
}

nav a {
    text-decoration: none;
    color: #474747
}

/* Header Related Style */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture {
    width: 500px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    margin-top: 5px;
    margin-bottom: 35px;
}

.banner-content {
    max-width: 500px;
}

/* Main section style */
main{
    max-width: 1140px;
    margin: 0px auto;
}

main section{
    margin-top: 130px;
}

/* About section style */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    
    color: #181818;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: normal;
    margin-top: 90px;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;

}

.info-title{
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
}

.info-description{
    font-size: 30px;
    margin-top: 0px;
}

/* Skills Related Style*/
#What-I-Do-Description{
    padding: 30px 150px;
    text-align: justify;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF8F3;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

.skills-container{
    display: flex;
    gap: 24px;
}

/* Resume Section Style */

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container{
    display: flex;
    gap: 60px;
}

.resume-item-description, .resume-item-institute{
    color: #757575;
}

.resume-container hr{
    margin: 30px;
}

.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}


/* Footer Related Style */

footer{
    display: flex;
    background: #FFF8F3;
    padding: 130PX 200px;
    margin-top: 100px;
}
